// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$my-white: rgba(25, 201, 255, 0.025);
$my-black: #000411;
$sky-blue: #4AC2E8;
$highlight-blue: rgba(25, 201, 255, 0.25);
