<div class="bathroom-window">

  <div class="show-card-infos">
    <i class="fas fa-map-marker-alt" id = "marker-icon"></i>
    <p><em><%= bathroom.location %></em></p>
  </div>

  <div>
    <p id="distance-to">0</p>
  </div>

  <div class="stars">
    <% cont = 0 %>
    <% (bathroom.rating.to_f.floor).times do %>
      <% cont += 1 %>
      <% unless cont == 5 %>
        <i class="fas fa-star" id="star-icon"></i>
      <% end %>
    <% end %>
    <% if (bathroom.rating.to_f - bathroom.rating.to_f.floor).zero? %>
      <i class="far fa-star" id="star-icon"></i>
    <% elsif ((bathroom.rating.to_f.floor(2) - bathroom.rating.to_f.floor) > 0.25) && ((bathroom.rating.to_f.floor(2) - bathroom.rating.to_f.floor) < 0.75) %>
      <i class="fas fa-star-half-alt" id="star-icon"></i>
    <% else %>
      <i class="fas fa-star" id="star-icon"></i>
    <% end %>
    <% (4 - bathroom.rating.to_f.floor).times do %>
      <i class="far fa-star" id="star-icon"></i>
    <% end %>
  </div>

  <span class="hidden" id="card-bathroom-lat"><%= bathroom.latitude %></span>
  <span class="hidden" id="card-bathroom-lng"><%= bathroom.longitude %></span>
  <span class="hidden" id="card-bathroom-id"><%= bathroom.id %></span>

  <div>
    <p class="btn go-button" id="google-maps">GO</p>
  </div>
</div>



<!-- style="width: <%#= (bathroom.rating.to_f.floor(2) - bathroom.rating.to_f.floor) * 100 %>%;" -->
