<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<span class="hidden" id="lat"></span>
<span class="hidden" id="lng"></span>
<span class="hidden" id="bathroom-lat"><%= params[:lat] %></span>
<span class="hidden" id="bathroom-lng"><%= params[:lng] %></span>
<div id="geocoder" class="geocoder"></div>
