// Specific CSS for your home-page
.home {
height: 100%;
    background-image: linear-gradient(#49c2e863, #49c2e800),url(https://media0.giphy.com/media/dBkr9ttKjWXrG/giphy.gif?cid=790b761…&rid=giphy.gif);
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
}

