#back-icon {
  font-size: 32px;
  color: black;
}

#toilet-icon {
  font-size: 64px;
}

#star-icon {
  color: #F7CF2A;
}

#marker-icon {
  color: #C43829;
  font-size: 24px;
}

.show-container {
  width: 700px;
  margin: 20px auto;
}

.show-container h1 {
  font-size:20px;
}
