.show-container {
  text-align: center;
}

.show-container h1 {
  font-size:18px;
  margin-top: 15px;
}

#marker-icon {
  color: #C43829;
  font-size: 16px;
  margin-right: 10px;
}


#back-icon {
  font-size: 32px;
  margin-left: 1vh;
  color: black;
  width: min-content;
}

.toilet-infos {
  display: inline-block;
}

#toilet-icon {
  font-size: 80px;
  color: #434340;
}

#star-icon {
  color: #F7CF2A;
}
