.show-container {
  text-align: center;
}

.show-container h1 {
  font-size:18px;
  margin-top: 15px;
}

.show-card-infos {
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
}

#marker-icon {
  color: #C43829;
  font-size: 24px;
  margin-right: 10px;
}

#back-icon {
  font-size: 32px;
  margin-left: 1vh;
  color: black;
  width: min-content;
}

.toilet-infos {
  display: inline-block;
}

#toilet-icon {
  font-size: 80px;
  color: #434340;
}

#star-icon {
  color: #F7CF2A;
}

.go-button {
  background-color: #4AC2E8;
  font-weight: bold;
  font-size: 22px;
  border-radius: 50%;
  width : 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.go-button p {
  color:white;
  text-decoration: none;
  }

.go-button:hover {
  font-weight: bolder;
  box-shadow: 0 0 0.1rem 0.2rem rgba(25, 201, 255, 0.25);
  text-decoration: none !important;
}
