
///////////////////// POP-UP
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

///////////////////// CURRENT LOCATION ICON
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
    margin: 0 10px 10px 0;
    float: right;
    // border-radius: 50%;
    padding: 10px;
}

///////////////////// REMOVE RADIUS FROM CURRENT POSITION
.mapboxgl-user-location-accuracy-circle {
  width: 0 !important;
  height: 0 !important;
}

#map {
  height: 97vh !important;
}
