
///////////////////// POP-UP
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

///////////////////// CURRENT LOCATION ICON
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
    margin: 0 10px 10px 0;
    float: right;
    // border-radius: 50%;
    padding: 10px;
}

///////////////////// REMOVE RADIUS FROM CURRENT POSITION
.mapboxgl-user-location-accuracy-circle {
  display: none !important;
}


// /////////////////// SEARCH BOX OUTSIDE MAP
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.geocoder {
    position: absolute;
    z-index: 1;
    width: 100%;
}

#map {
    height: 82vh !important;
    margin: 13vh 0 0 0;
}

.mapboxgl-ctrl-geocoder {
    width: 100%;
    min-width: 100%;
    font-size: 15px;
    line-height: 20px;
    max-width: 100%;
}
