.navbar h1 {
  color: $button-font-color;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $sky-blue;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: $button-font-color;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $button-font-color;
}

.nav-item {
  font-weight: bold;
  margin: 0;
}

.nav-link {
  color: $button-font-color;
  margin: 0;
}

.center {
  display: center;
}
