.navbar h1 {
  color: $my-white;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $my-black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: $my-white;
}
